/Alpha1_DAP/*.scvd
/Alpha1_DAP/*.18613
/Alpha1_DAP/*.51338
/Alpha1_DAP/*.qfsd
/Alpha1_DAP/*.uvoptx
/Alpha1_DAP/*.uvprojx
/ILCP2.0/*.scvd
/ILCP2.0/*.udb
/ILCP2.0/*.18613
/ILCP2.0/*.uvoptx
/ILCP2.0/*.uvprojx
*.json
*.o
*.crf
*.d
*.iex
*.axf
*.htm
*.hex
*.lnp
*.sct
*.Bak
*.dep
